.accessArea {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  align-items: flex-start;
}

.storeInfo {
  width: calc((100% - 48px) / 2);
}

.storeRow {
  display: flex;
  gap: 0 12px;
  border-bottom: 1px solid var(--gray-violet);
}

.storeItemLabel {
  font-weight: bold;
  width: 100px;
  padding: 16px 0 16px 12px;
}

.storeItem {
  padding: 16px 12px 16px 0;
}

/* slider */
.swiperWrap {
  width: calc((100% - 48px) / 2);
}

/*====================================================*/
/* スマホ表示 */
/*====================================================*/

@media screen and (max-width: 767px) {
  .accessArea {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 16px 0;
  }
  .storeInfo {
    width: 100%;
  }

  .storeImg {
    width: 100%;
  }
}
