.mainVisual {
  position: relative;
  width: fit-content;
}

.mainVisual_text {
  composes: centering from "css/utils.module.css";
  left: 0;
  transform: translateY(-50%);
  font-size: 48px;
  width: 100%;
  text-align: center;
  color: var(--white);
  opacity: 0;
  animation: 3s fadeup ease-in-out forwards;
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainVisual_image {
  width: 100%;
}
